@import url('https://fonts.googleapis.com/css?family=Roboto:700, 600, 500, 400, 200');

dialog {

    border-color: white;
    border-radius: 25px;
    z-index: 30;
    justify-self: center;
    align-self: top;
    width: 70%;
    margin: 5px;
    max-width: fit-content;
    justify-items: center;
    margin-bottom: 10px;

}

#fade.escuro {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: black;
    z-index: 25;
}

.oculto {

    background-color: red;
    color: #F8F9FA;
    z-index: 20;
    justify-content: center;
    align-items: center;
}

.immo {
    color: var(--black);
    font-weight: normal;
    font-size: 25px;
}

.control {
    color: var(--green);
    font-weight: 600;
    font-size: 25px;
}

.open_icon {
    height: 20px;
    width: 20px;
}


.table_icon1 {
    width: 80px
}

.table_id {
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 5%;
}

.table_name {
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 15%
}

.table_property {
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 55%;
}

.table_status {
    min-width: fit-content;
    /*border: 1px solid black;*/
    width: 20%;
}

#vacancia.verde {

    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    background-color: #5BB800;
    color: white;

}

#vacancia.cinza {

    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    background-color: #bbbbb8;
    color: white;

}

#statuss.verde {
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    background-color: #5BB800;
    color: white;

}

#statuss.cinza {

    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    background-color: #bbbbb8;
    color: white;

}

#statuss.verde,
#statuss.cinza:active {
    transform: none;
    box-shadow: none;
}

#vacancia.cinza,
#vacancia.verde {
    transform: none;
    box-shadow: none;
}

.status_active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: fit-content;
    width: 60%;
    background-color: var(--green);
    color: var(--white);
    font-weight: 600;
    height: 35px;
    border-radius: 10px;
    align-items: center;

}

.status_inactive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: fit-content;
    width: 60%;
    background-color: var(--dark-grey);
    color: var(--white);
    font-weight: 600;
    height: 35px;
    border-radius: 10px;
    align-items: center;

}

.checar>label {
    column-gap: 5px;
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

#checkmark {

    appearance: none;
    cursor: pointer;
    border: 2px solid;
    border-radius: 6px;
    width: 20px;
    height: 20px;
    border-color: #5BB800;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


}

#checkmark:before {
    content: "";
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    background: #5BB800;
    opacity: 0;
}

#checkmark:checked:before {
    opacity: 1;
}

#radio2 {

    appearance: none;
    cursor: pointer;
    border: 2px solid;
    border-radius: 6px;
    width: 20px;
    height: 20px;
    border-color: #5BB800;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;


}

#radio2:before {
    content: "";
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    background: #5BB800;
    opacity: 0;
}

#radio2:checked:before {
    opacity: 1;
}

#div_dados_imovel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "id tipo"
    "logradouro logradouro"
    "cidade cep";
    column-gap: 15px;
}

#div_id{
    display: flex;
    flex-direction: column;
    grid-area: id;
}

#div_tipo{
    display: flex;
    flex-direction: column;
    grid-area: tipo;
}

#div_logradouro{
    display: flex;
    flex-direction: column;
    grid-area: logradouro;
}

#div_cidade {
    display: flex;
    flex-direction: column;
    grid-area: cidade;
}

#div_cep {
    display: flex;
    flex-direction: column;
    grid-area: cep;
}

#div_checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}

.popup #div_proprietario{
    display: flex;
    flex-direction: column;
}

.popup #endereco{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "tipo_logradouro logradouro logradouro logradouro numero"
    "complemento bairro bairro cidade cidade"
    "cep uf . . .";
    column-gap: 15px;
    
}

.popup .div_tipo_logradouro{
    display: flex;
    flex-direction: column;
    grid-area: tipo_logradouro;
}

.popup .div_logradouro{
    display: flex;
    flex-direction: column;
    grid-area: logradouro;
}

.popup .div_numero{
    display: flex;
    flex-direction: column;
    grid-area: numero;
}

.popup .div_complemento{
    display: flex;
    flex-direction: column;
    grid-area: complemento;
}

.popup .div_bairro{
    display: flex;
    flex-direction: column;
    grid-area: bairro;
}

.popup .div_cidade{
    display: flex;
    flex-direction: column;
    grid-area: cidade;
}

.popup .div_cep{
    display: flex;
    flex-direction: column;
    grid-area: cep;
}

.popup .div_uf{
    display: flex;
    flex-direction: column;
    grid-area: uf;
}



@media only screen and (max-device-width: 480px) {


    body{
        max-height: fit-content;
       
    }
    
    dialog{
        height: 800px;
    }

    .table_status {
        display: none;
    }

    .table_id {
        display: none;
    }

    .table_icon1 {
        display: none;
    }

    .table_name {
        display: none;
    }

    .id_tipo{
        flex-wrap: wrap;
    }
    .cidade_cep{
        flex-wrap: wrap;
    }

    .a{
        flex-wrap: wrap;
    }
    dialog#modal.adicao{
        padding: none;
    }










}