@import url('https://fonts.googleapis.com/css?family=Roboto:700, 600, 500, 400, 200');

* {
    margin: 0;
}

:root {
    --green: #5BB800;
    --white: #ffffff;
    --black: #000000;
    --light-black: rgb(0 0 0 / .5);
    --light-grey: #F8F9FA;
    --grey: #E0E1E2;
    --dark-grey: #A0AEC0;
    --font-size-button: 16px;
    --red: #B83700;
}

body {
    background-color: var(--light-grey);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


dialog {

    border-color: white;
    border-radius: 25px;
    z-index: 30;
    justify-self: center;
    align-self: top;
    width: 70%;
    margin: 5px;
    max-width: fit-content;
    justify-items: center;
    margin-bottom: 10px;

}



#fade.escuro {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: black;
    z-index: 25;
}


header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    /* border: 1px solid black; */
}

.oculto {

    background-color: red;
    color: #F8F9FA;
    z-index: 20;
    justify-content: center;
    align-items: center;
}

.immo {
    color: var(--black);
    font-weight: normal;
    font-size: 25px;
}

.control {
    color: var(--green);
    font-weight: 600;
    font-size: 25px;
}

.div_logo {
    padding: 0px 22px;
    display: flex;
    align-items: center;
    min-width: fit-content;
    max-width: fit-content;
    justify-content: center;
}

.div_titulo {
    color: var(--green);
    font-size: 25px;
    font-weight: 600;
}

.icon_usuario_logado {
    height: 40px;
    width: 40px;
}

.div_usuario {
    padding-right: 20px;
    display: flex;
    direction: row;
    align-items: center;
    gap: 10px;
    color: var(--green);
    font-weight: bold;
}

nav {
    padding: 0px 20px 0px 10px;
    width: 20%;
    min-width: fit-content;
    max-width: fit-content;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 88vh;
    /* border: 1px solid black; */
}

.sidebar_superior {

    width: 100%;
}

.sidebar_inferior {
    width: 100%;
    margin-bottom: 10px;
}

hr.divisor {
    border-top: 1px solid var(--grey);
}

.icon {
    height: 35px;
    width: 35px;
}

.open_icon {
    height: 20px;
    width: 20px;
}

.sidebar_button_selected {
    padding: 7px 35px 7px 7px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: var(--font-size-button);
    background-color: var(--white);
    border: none;
    border-radius: 12px;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: var(--black);
}

.sidebar_button {
    padding: 7px 35px 7px 7px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: var(--font-size-button);
    background-color: var(--light-grey);
    border: none;
    border-radius: 12px;
    align-items: center;
    color: var(--dark-grey);
}

.sidebar_button:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: var(--black);
    background-color: var(--white);
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0;
    height: 88vh;
}

main {
    background-color: var(--white);
    width: 100%;
    min-width: fit-content;
    max-height: 88vh;
    padding: 15px;
    margin: 0 10px 10px 0;
    /* border: 1px solid black; */
    border-radius: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.div_table_properties {
    display: flex;
    color: var(--green);
    font-weight: bold;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.div_table_properties_group_buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.div_table_properties_button {
    display: flex;
    padding: 0px;
    border-radius: 10px;
    border: none;
}

.div_table_properties_button:hover {
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.6);
}

.div_table_header {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--dark-grey);
    font-size: 12px;
    font-weight: bold;
}

.div_table_row {
    margin: 10px 0 2px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
    min-width: fit-content;
    justify-content: space-between
}

.table_icon>img {
    display: flex;
    width: 35px;
    /* border: 1px solid black; */

}

.table_icon1 {
    width: 80px
}

.table_id {
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 5%;
}

.table_name {
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 25%
}

.table_property {
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 25%;
}

.table_status {
    min-width: fit-content;
    /*border: 1px solid black;*/
    width: 25%;
}

.table_status.verde{
    background-color: #5BB800;

}


.table_button {
    display: flex;
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 4%;
    justify-content: end;
}

.status_active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: fit-content;
    width: 40%;
    background-color: var(--green);
    color: var(--white);
    font-weight: 600;
    height: 35px;
    border-radius: 10px;
    align-items: center;

}

.status_inactive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: fit-content;
    width: 40%;
    background-color: var(--dark-grey);
    color: var(--white);
    font-weight: 600;
    height: 35px;
    border-radius: 10px;
    align-items: center;

}

.open_button {
    display: flex;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: var(--white);
}

.open_button:hover {
    background-color: var(--grey);
}

#popup_filtrar {
    width: 30%;
}

#popup_dados_proprietario {
    width: 50%;
}

.popup {
    justify-self: center;
    align-self: center;
    background-color: var(--light-grey);
    color: var(--green);
    border: none;
    border-radius: 10px;
    padding: 15px;
    min-width: fit-content;
}

.popup::backdrop {
    background-color: var(--light-black);
}

.popup div {
    display: flex;
    flex-direction: column;
    align-items: normal;
}

.popup hr {
    margin-bottom: 10px;
    border-top: 1px solid var(--green);
    margin: 10;
}

.popup p,
label {
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
}

.popup h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 0px 0px 20px 0px;
}

.popup .selectSuccess {
    height: 36px;
    margin-bottom: 10px;
    color: var(--black);
    border-radius: 10px;
    border: 2px solid var(--green);
    padding-left: 10px;
}

.popup .selectError {
    height: 36px;
    margin-bottom: 10px;
    color: var(--black);
    border-radius: 10px;
    border: 2px solid var(--red);
    padding-left: 10px;
}

.popup .inputSuccess {
    height: 30px;
    margin-bottom: 10px;
    color: var(--black);
    border-radius: 10px;
    border: 2px solid var(--green);
    padding-left: 10px;
}

.popup .inputError {
    height: 30px;
    margin-bottom: 10px;
    color: var(--black);
    border-radius: 10px;
    border: 2px solid var(--red);
    padding-left: 10px;
}

.popup .status {
    margin-left: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.popup .buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-top: 15px;
}

.popup .icon {
    height: 20px;
    width: 20px;
}

.buttons button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: var(--green);
    color: var(--white);
    font-size: 12px;
    font-weight: bold;
    gap: 10px;
}

.buttons button:hover {
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.6);
}

input[type="checkbox"] {
    border: 1px solid #5BB800;
}

.status div {
    display: flex;
    flex-direction: row;
}

#table_list {
    overflow-y: auto;
    height: 85%;

}

.popup .dados_pessoais {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "nome nome"
        "cpf estado_civil";
    column-gap: 15px;
}

.popup .div_nome {
    display: flex;
    flex-direction: column;
    grid-area: nome;
}

.popup .div_cpf {
    display: flex;
    flex-direction: column;
    grid-area: cpf;
}

.popup .div_estado_civil {
    display: flex;
    flex-direction: column;
    grid-area: estado_civil;
}

.popup .endereco {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "tipo_logradouro logradouro logradouro logradouro numero"
        "complemento bairro bairro cidade cidade"
        "cep uf . . .";
    column-gap: 15px;

}

.popup .div_tipo_logradouro {
    display: flex;
    flex-direction: column;
    grid-area: tipo_logradouro;
}

.popup .div_logradouro {
    display: flex;
    flex-direction: column;
    grid-area: logradouro;
}

.popup .div_numero {
    display: flex;
    flex-direction: column;
    grid-area: numero;
}

.popup .div_complemento {
    display: flex;
    flex-direction: column;
    grid-area: complemento;
}

.popup .div_bairro {
    display: flex;
    flex-direction: column;
    grid-area: bairro;
}

.popup .div_cidade {
    display: flex;
    flex-direction: column;
    grid-area: cidade;
}

.popup .div_cep {
    display: flex;
    flex-direction: column;
    grid-area: cep;
}

.popup .div_uf {
    display: flex;
    flex-direction: column;
    grid-area: uf;
}

.popup .contato {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "telefone email";
    column-gap: 15px;
}

.popup .div_telefone {
    display: flex;
    flex-direction: column;
    grid-area: telefone;
}

.popup .div_email {
    display: flex;
    flex-direction: column;
    grid-area: email;
}



/*-------------------------------------------------------*/
/*MODAl*/





dialog * {
    font-family: 'Roboto';
    color: #5BB800;


}

dialog {

    padding: 25px;
    height: 600px;

}



dialog h1 {
    display: flex;
    font-family: 'Roboto';
    color: #5bb800;
    justify-content: center;
    justify-items: center;

}

dialog h4 {
    font-family: 'Roboto';
    display: block;
    color: #5bb800;
    margin-bottom: 0px;
}

dialog hr {

    color: #5bb800;
    height: 2px;
    border: none;
    background-color: #5bb800;
    margin-top: 5px;
    margin-bottom: 10px;

}

dialog label {
    color: #5bb800;
    font-size: small;
    font-style: normal;
    font-family: 'Roboto';
}

dialog .id_tipo {
    display:flex;
    max-width:fit-content;
    margin-bottom:10px;
    gap: 30px;
    
}
dialog .id_tipo .id {
   

}

dialog .Logradouro {
    display: flexbox;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;

}

dialog .Logradouro input {
    width: 100%;
}

dialog input {
    height: 25px;
    border-radius: 7px;
    border: solid;
    border-color: #5BB800;
    color: #080808
}

dialog .cidade_cep {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;
}

dialog .status_vacancia {
    margin-top: 50PX;
    display: flex;
    width: 100%;
    gap: 20%;
    margin: 0px;
    justify-content: center;


}

dialog .status,
.vacancia {
    width: 200px;
}

dialog .status_vacancia .status div {
    display: flex;

}

dialog .status_vacancia .status div label {
    margin-left: 10px;
    margin-top: 14px;
}

dialog .status_vacancia .vacancia div {
    display: flex;
}

dialog .status_vacancia .vacancia div label {
    margin-left: 10px;
    margin-top: 14px;
}

/* Customize the label (the container) */
dialog .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: auto;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
dialog .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
dialog .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgb(221, 222, 221);
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */
dialog .container:hover input~.checkmark {
    background-color: #ccc
}

/* When the radio button is checked, add a blue background */
dialog .container input:checked~.checkmark {
    background-color: #5BB800;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
dialog .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
dialog .container input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
dialog .container .checkmark:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 3px;
    left: 6px;
}


/* botoes de filtrar e voltar*/

dialog>button {
    border-radius: 5px;
    width: 200px;
    display: grid;
    margin-top: 20px;
    margin-left: 0%;
    background-color: #5bb800;
    /* Green */
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
}

dialog .alinhar_botoes {
    display: flex;
    margin: 0px;
    justify-content: center;

}

dialog .alinhar_botoes button img {
    width: 70%;
}

dialog button:hover {
    background: #69D303;
    /* Green */
    color: white;
}

dialog button:active {
    background-color: #69D303;
    box-shadow: 0 3px rgb(202, 200, 200);
    transform: translateY(4px);
    transform: translateX(4px);
}

/* estilizando botões*/
dialog button {
    border-radius: 5px;
    width: 200px;
    display: grid;
    margin-top: 20px;
    margin-left: 0%;
    background-color: #5bb800;
    /* Green */
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
}

.alinhar_botoes img {
    width: 50%;
}

dialog button:hover {
    background: #69D303;
    /* Green */
    color: white;
}

button:active {
    background-color: #69D303;
    box-shadow: 0 3px gainsboro;
    transform: translateY(4px);
}

/***********************************************************************
  ************************************************************************
  **********************************************************************
  **************************************************************************/
/* ADIÇÃO-------------------------------------------------*/




.adicao .proprietario input {
    width: 75%;

}

.adicao .a {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;

}

.adicao .a .a1 label input {
    width: 80px;
}

.adicao .a .a2 label input {
    width: 290px;
}

.adicao .a .a3 label input {
    width: 40px;
}

.adicao .b {

    display: flex;
    width: 100%;
    column-gap: 15px;
    box-sizing: border-box;
    flex-wrap: wrap;

}


.adicao .c {
    display: flex;
    column-gap: 15%;
    margin-right: 10px;

}

.adicao .c input {
    width: 100px;

}

.adicao .d {
    display: flex;
    width: 100%;
    align-items: center;


}

.adicao .d h4 {
    width: 100%;
}

.adicao header {
    display: flex;
    justify-content: center;
    height: 40px;
}

.adicao input {
    border-radius: 6px;
    height: 25px;
    border: solid #5bb800 2px;
    font-family: "Roboto";
    margin: 5px;
}

.adicao hr {
    color: #5bb800;
    border-color: #5bb800;
    border-color: 3px;

}

.adicao select {
    width: 50%;
    border-radius: 6px;
    height: 25px;
    border: solid #5bb800 2px;
    padding: 2px;
    height: 35px;
    margin-right: 10px;
    margin-top: 0px;
}

.adicao .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 0px
}

/* Hide default HTML checkbox */
.adicao .switch input {
    opacity: 0;
    width: 0;
    height: 0;

}

/* The slider */
.adicao .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.adicao .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.adicao input:checked+.slider {
    background-color: #5bb800;
}

.adicao input:focus+.slider {
    box-shadow: 0 0 1px #5bb800;
}

.adicao input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(30px);
    transform: translateX(35px);
}

/* Rounded sliders */
.adicao .slider.round {
    border-radius: 34px;
}

.adicao .slider.round:before {
    border-radius: 50%;
    margin-top: 0px;
}

.adicao .espacamento {
    display: flex;
    width: 100%;
    text-align: center;

}

.adicao .espacamento h4 {
    margin-left: 10px;
    margin-top: 6px;
}

.adicao button {
    border-radius: 5px;
    width: 200px;
    display: grid;
    margin-top: 20px;
    margin-left: 0%;
    background-color: #5bb800;
    /* Green */
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;

}

.adicao .alinhar_botoes {
    display: flex;
    justify-content: center;
}

.adicao .alinhar_botoes img {
    width: 50%;
}

.adicao button:hover {
    background: #69D303;
    /* Green */
    color: white;
}

.adicao button:active {
    background-color: #69D303;
    box-shadow: 0 3px gainsboro;
    transform: translateY(4px);
}

.adicao header {
    color: #5BB800;
}