/* Comecei com a formatação dos blocos*/

/*menu superior*/
.menu_superior {
    display: flex;
    align-items: center;    
    flex-direction: row;
    height: 61.44px;
    justify-content: space-between;
    margin: 0px;
    unicode-bidi: isolate;
    width: 1263.33px;
}

.logo {
    height: 40px;
    width: 147.28px;
}

.icon_usuario_logado {
    height: 40px;
    width: 40px;
    direction: ltr;
    overflow-clip-margin: content-box;
    overflow-x: clip;
    overflow-x: clip;
}

.usuario_logado {
    display: flex;
    height: 40px;
    column-gap: 10px;
    direction: ltr;
    align-items: center;
    margin: 0px;
    padding-right: 20px;
    row-gap: 10px;
    unicode-bidi: isolate;
    width: 201.24px;
}


/*menu lateral*/

.menu_lateral {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 450.55px;
    margin: 0px;
    unicode-bidi: isolate;
    width: 207.71px;
    justify-content: space-between;
    max-width: fit-content;
    min-width: fit-content;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 0px;


}

.botao_menu_lateral {
    display: flex;
    flex-direction: row;
    align-items: center;
    appearance: auto;
    background-color: rgb(248, 249, 250);
    border-bottom-color: rgb(160, 174, 192);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-color: rgb(160, 174, 192 );
    border-style: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-width: 0px;
    box-sizing: border-box;
    column-gap: 10px;
    cursor: default;
    margin-top: 10px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right:0px;
    padding-block-end: 7px;
    padding-block-start: 7px;
    padding-bottom: 7px;
    padding-inline-end: 35px;
    padding-inline-start: 7px;
    padding-left: 7px;
    padding-right: 35px;
    padding-top: 7px;   
    row-gap: 10px;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-transform: none;
    width: 177.71px;
    height: 49px;
    word-spacing: none;
}

.divisao_menu_lateral {
    border-bottom-style: inset;
    border-width: 0.666667px;
    border-left-style: inset;
    border-right-style: inset;
    border-top-color: rgb(224, 225, 226);
    border-top-style: solid;
    display: block;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    unicode-bidi: isolate;
    height:1.33px ;
    width:177.71px ;

}

.divisao_inferior_menu {
    display: block;
    margin: 0px 0px 0px 0px;
    unicode-bidi: isolate;
    height: 60.33px ;
    width: 177.71px;
}

/*conteúdo principal - Tabela*/

.tabela_usuarios {
    display: block;
    background-color: rgb(255, 255, 255) !important;
    border: 12px;
    box-shadow: rgba(0,0,0,0.2) 0px 2px 4px 0px;
    height: 440.55px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 0px;
    max-height: 88vh;
    min-height: fit-content;
    padding: 15px;
    unicode-bidi: isolate;
    width: 100%;
    min-width: fit-content;


}

.espaco_botao_tabela {
    display: flex;
    color: rgb(91, 184, 0);
    flex-direction: row;
    column-gap: 15px;
    margin: 0px;
    row-gap: 15px;
    unicode-bidi: isolate;
    height: 35px;
    width: 85px;

}

.botaoes_titulo_tabela{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    unicode-bidi: isolate;
    height: 35px;
    width: 1015.63px;
}

.icone_tabela {
  height: 35px;
  width: 35px;
  overflow-clip-margin: content-box !important;
  overflow: clip;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;
  cursor: default;
   

}



/*Conteúdo principal (tabela) + barra lateral*/

.menu_e_tabela {
    display: flex;
    flex-direction: row;
    column-gap: 0px;
    margin: 0px;
    row-gap: 0px;
    unicode-bidi: isolate;
    height: 450.55px;
    width: 1263.33px;
}


/*regras aplicadas a toda tela*/

html {
    display: block;
    background-color: #f8f9fa;
    margin: 0px;
}

* {
    font-family: 'Roboto' , sans-serif;
}

/*headings*/

h1 {

 color: rgb(91,184,0);
 display: block;
 font-size: 30px;
 font-weight: 600;
 margin: 0px;
 unicode-bidi: isolate;
 width: 118.708px;

}

/*coloquei nome de usuário como h2*/

.nome_usuario {
    color: rgb(91,184,0) !important;
    display: block;
    direction: ltr;
    font-weight: 700;
    height: 19.3333px;
    margin: 0px;
    unicode-bidi: isolate;
    width: 131.24px;
}

/*coloquei título tabela como h2*/

.titulo_tabela{
    display: block;
    color: rgb(91,184,0);
    font-weight: 700;
    margin: 0px;
    unicode-bidi: isolate;
    height: 19.33px;
    width: 75.97px;

}

h4 {

    color: #a0aec0;
    font-size: 16px ;
    font-family: Arial;
    cursor: default;
    display: block;
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-stretch: 100%;
    font-weight: 400;
    margin: 0;
    text-align: center;
    word-spacing: 0px;


}

