@import url('https://fonts.googleapis.com/css?family=Roboto:700, 600, 500, 400, 200');




/* tabela*/



.table_id{
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 5%;
}

.table_name{
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 25%;
}
       
.table_property{
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 25%;
}

.table_status{
    min-width: fit-content;
    /*border: 1px solid black;*/
    width: 25%;
}


.status_active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: fit-content;
    width: 40%;
    background-color: var(--green);
    color: var(--white);
    font-weight: 600;
    height: 35px;
    border-radius: 10px;
    align-items: center;

}

.status_inactive{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: fit-content;
    width: 40%;
    background-color: var(--dark-grey);
    color: var(--white);
    font-weight: 600;
    height: 35px;
    border-radius: 10px;
    align-items: center;
    
}


/*pop up*/

#popup_filtrar, #popup_dados_usuarios, #popup_add  {
    width: 25%;
}



.popup .areas{
    display: flex;
    flex-direction: column;
    align-items:normal;
    width: 100%;
}


.status div{
    display: flex;
    flex-direction: row;
}


#div_dados_usuarios{
    display: grid;
    grid-template-areas: "id perfil" "nome nome";
    column-gap: 15px;
    grid-template-columns: 1fr 1fr;
}

#div_id{
    grid-area: id;
}

#div_perfil{
    grid-area: perfil;
}

#div_nome{
    grid-area: nome;
}

@media only screen and (max-device-width: 480px) {
    .table_name{
        /* min-width: fit-content; */
        /* border: 1px solid black; */
        width: 35%;
        overflow-wrap: break-word;
    }
           
    .table_property{
        min-width: fit-content;
        /* border: 1px solid black; */
        width: 25%;
    }
    
    .table_status{
        min-width: fit-content;
        /*border: 1px solid black;*/
        width: 20%;
    }

    .status_active {
       padding: 0px 10px;
       width: 100%;
    
    }
    
    .status_inactive{
        padding: 0px 10px;
        width: 100%;
    }

    #div_dados_usuarios{
        display: flex;
        flex-direction: column;
    }

    #popup_filtrar , #popup_add , #popup_dados_usuarios {
        width: 80%;

    }



}



