@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:700, 600, 500, 400, 200');

/* Cores padrão de todas as telas */
:root {
    --green: #5BB800;
    --white: #ffffff;
    --black: #000000;
    --light-black: rgb(0 0 0 / .5);
    --light-grey: #F8F9FA;
    --grey: #E0E1E2;
    --dark-grey: #A0AEC0;
    --font-size-button: 16px;
    --red: #B83700;
}

/* PADRÃO GERAL */
/* Margem */
*{
    margin: 0;
}


.table_name{
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 20%;
}

.table_telefone{
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 13%;
}

.table_email{
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 20%;
}

.table_status{
    min-width: fit-content;
    /*border: 1px solid black;*/
    width: 13%;
}

.table_situacao {
    min-width: fit-content;
    /*border: 1px solid black;*/
    width: 13%;
}
/* DESTAQUE STATUS  (FALTA O JAVA SCRIPT) */

.status_active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: fit-content;
    width: 90%;
    background-color: var(--green);
    color: var(--white);
    font-weight: 600;
    height: 35px;
    border-radius: 10px;
    align-items: center;
    padding: 0px 10px;

}

.status_inactive{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: fit-content;
    width: 90%;
    background-color: var(--dark-grey);
    color: var(--white);
    font-weight: 600;
    height: 35px;
    border-radius: 10px;
    align-items: center;
    padding: 0px 10px;
    
}

/* POPUP FILTRAR*/
#popup_filtrar{
    width: 20%;
}

#popup_dados_locatario{
    width: 30%;
}

/* POPUP CADASTRAR/DADOS LOCATÁRIO */

#popup_cadastrar{
    width: 30%;
}

.popup div{
    display: flex;
    flex-direction: column;
    align-items:normal;
}

#table_list{
    overflow: scroll;
    height: 87%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Seção Dados Pessoais */
.section_dados_pessoais {
    display: grid;
    grid-template-areas: 
    "nome nome"
    "cpf estado_civil";
    column-gap: 15px;
}

.popup .div_nome{
    display: flex;
    flex-direction: column;
    grid-area: nome;
}

.popup .div_cpf{
    display: flex;
    flex-direction: column;
    grid-area: cpf;
}

.popup .div_estado_civil{
    display: flex;
    flex-direction: column;
    grid-area: estado_civil;
}

/* Seção Endereço */
.section_endereco{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "tipo_logradouro logradouro logradouro logradouro numero"
    "complemento bairro bairro cidade cidade"
    "cep uf . . .";
    column-gap: 15px;
    
}

.popup .div_tipo_logradouro{
    display: flex;
    flex-direction: column;
    grid-area: tipo_logradouro;
}

.popup .div_logradouro{
    display: flex;
    flex-direction: column;
    grid-area: logradouro;
}

.popup .div_numero{
    display: flex;
    flex-direction: column;
    grid-area: numero;
}

.popup .div_complemento{
    display: flex;
    flex-direction: column;
    grid-area: complemento;
}

.popup .div_bairro{
    display: flex;
    flex-direction: column;
    grid-area: bairro;
}

.popup .div_cidade{
    display: flex;
    flex-direction: column;
    grid-area: cidade;
}

.popup .div_cep{
    display: flex;
    flex-direction: column;
    grid-area: cep;
}

.popup .div_uf{
    display: flex;
    flex-direction: column;
    grid-area: uf;
}

/* Seção Endereço */
.section_contato{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "telefone email";
    column-gap: 15px;
    
}


/* Seção Status */
.status div{
    display: flex;
    flex-direction: row;
}

#section_status {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#status_filtro{
    grid-area: status;
    width: 50%;
}

#status_situacao{
    grid-area: situacao;
    width: 50%; 
}

.status hr{
    border-top: 1px solid var(--green);
}



/* RESPONSIVIDADE */
@media only screen and (max-device-width: 480px) {
    .table_name {
        width: 50%;
        
    }
    .table_status {
        display: none;
    }

    .table_situacao {
        width: 30%;
    }

    .status_active {
        width: 70%;
    }

    .status_inactive {
        width: 70%;
    }

    #popup_filtrar, #popup_dados_locatario, #popup_cadastrar {
        width: 80%;
    }

    .popup .section_dados_pessoais, .popup .section_endereco, .popup .section_contato{
        display: flex;
        flex-direction: column;
    }

    .popup .endereco {
        display: flex;
        flex-direction: column;
    }

    .popup .contato {
        display: flex;
        flex-direction: column;
    }
    .table_telefone, .table_email {
        display: none;
    }


}

