@import url('https://fonts.googleapis.com/css?family=Roboto:700, 600, 500, 400, 200');

*{
    margin: 0;
}

:root {
    --green: #5BB800;
    --white: #ffffff;
    --black: #000000;
    --light-black: rgb(0 0 0 / .5);
    --light-grey: #F8F9FA;
    --grey: #E0E1E2;
    --dark-grey: #A0AEC0;
    --font-size-button: 16px;
    --red: #B83700;
}

.table_name{
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 25%;
}

.table_property{
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 25%;
}

.table_status{
    min-width: fit-content;
    /*border: 1px solid black;*/
    width: 25%;
}

.status_active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10px;
    min-width: fit-content;
    width: 40%;
    background-color: var(--green);
    color: var(--white);
    font-weight: 600;
    height: 35px;
    border-radius: 10px;
    align-items: center;

}

.status_inactive{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 10px;
    min-width: fit-content;
    width: 40%;
    background-color: var(--dark-grey);
    color: var(--white);
    font-weight: 600;
    height: 35px;
    border-radius: 10px;
    align-items: center;
    
}

#popup_filtrar{
    width: 30%;
}

#popup_dados_proprietario{
    width: 50%;
}

.popup div {
    display: flex;
    flex-direction: column;
}

.status div{
    display: flex;
    flex-direction: row;
}

#table_list{
    overflow: scroll;
    height: 87%;
    overflow-y: auto;
    overflow-x: hidden;
}

.popup .dados_pessoais{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "nome nome"
    "cpf estado_civil";
    column-gap: 15px;
}

.popup .div_nome{
    display: flex;
    flex-direction: column;
    grid-area: nome;
}

.popup .div_cpf{
    display: flex;
    flex-direction: column;
    grid-area: cpf;
}

.popup .div_estado_civil{
    display: flex;
    flex-direction: column;
    grid-area: estado_civil;
}

.popup .endereco{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "tipo_logradouro logradouro logradouro logradouro numero"
    "complemento bairro bairro cidade cidade"
    "cep uf . . .";
    column-gap: 15px;
    
}

.popup .div_tipo_logradouro{
    display: flex;
    flex-direction: column;
    grid-area: tipo_logradouro;
}

.popup .div_logradouro{
    display: flex;
    flex-direction: column;
    grid-area: logradouro;
}

.popup .div_numero{
    display: flex;
    flex-direction: column;
    grid-area: numero;
}

.popup .div_complemento{
    display: flex;
    flex-direction: column;
    grid-area: complemento;
}

.popup .div_bairro{
    display: flex;
    flex-direction: column;
    grid-area: bairro;
}

.popup .div_cidade{
    display: flex;
    flex-direction: column;
    grid-area: cidade;
}

.popup .div_cep{
    display: flex;
    flex-direction: column;
    grid-area: cep;
}

.popup .div_uf{
    display: flex;
    flex-direction: column;
    grid-area: uf;
}

.popup .contato{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "telefone email";
    column-gap: 15px;
}

.popup .div_telefone{
    display: flex;
    flex-direction: column;
    grid-area: telefone;
}

.popup .div_email{
    display: flex;
    flex-direction: column;
    grid-area: email;
}

@media only screen and (max-device-width: 480px) {
    .table_name {
        width: 55%;
    }
    .table_status {
        width: 25%;
    }

    .table_property {
        width: 0%;
        display: none;
    }

    .status_active {
        width: 70%;
    }

    .status_inactive {
        width: 70%;
    }

    #popup_filtrar {
        width: 80%;
    }

    #popup_dados_proprietario {
        width: 80%;
    }

    #popup_novo_proprietario {
        width: 80%;
    }

    .popup .dados_pessoais {
        display: flex;
        flex-direction: column;
    }

    .popup .endereco {
        display: flex;
        flex-direction: column;
    }

    .popup .contato {
        display: flex;
        flex-direction: column;
    }
}






