body {
    font-family:Arial, Helvetica;
}

form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: progress;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

table {
    width: 1000px;
    border-collapse:separate;
    border: spacing 200px;
    text-align: center;
}

th {
    color: gray;
    border: 1px  gray;
    font-family: Roboto;
}

#botao{
    background-color: 5BB800;
    

}

tr:hover{
    background-color:whitesmoke;
    


}


.campo{
    float: right;
    margin-top: 50px;
    left: 300px;
    right: 800px;
    height: 500px;
    border: #A0AEC0 ;
    border-right: 100px;
    margin-right: 200px;

}

.tabela_imoveis{

  
    border-color: #030303;
    line-height: 15px;
    

}

.icone{
    width: 30px;

}

.titulo{
    align-self: self-end;
    padding: 10px;
    color: #5BB800;
    font-weight: bold;
    font-size: x-large;
    font-family: Roboto;


}

.status{
    background-color: #5BB800;
    font-family: roboto;
    color: white;
    border-radius: 8px;
    width: 25px ;
}

#filtro,#adcionar{
    position: relative;
    top: 30px;
    left: 800px;
    right: 80px;


}
