@import url('https://fonts.googleapis.com/css?family=Roboto:700, 600, 500, 400, 200');

*{
    margin: 0;
}

:root {
    --green: #5BB800;
    --white: #ffffff;
    --black: #000000;
    --light-black: rgb(0 0 0 / .5);
    --light-grey: #F8F9FA;
    --grey: #E0E1E2;
    --dark-grey: #A0AEC0;
    --font-size-button: 16px;
    --red: #B83700;
}

.table_requisitante{
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 25%;
}

.table_tipo{
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 25%;
}
.table_data{
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 20%;
}

.table_status{
    min-width: fit-content;
    /*border: 1px solid black;*/
    width: 20%;
}

.status_active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: fit-content;
    width: 40%;
    background-color: var(--green);
    color: var(--white);
    font-weight: 600;
    height: 35px;
    border-radius: 10px;
    align-items: center;
    padding: 0 10px;
}

.status_inactive{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: fit-content;
    width: 40%;
    background-color: var(--dark-grey);
    color: var(--white);
    font-weight: 600;
    height: 35px;
    border-radius: 10px;
    align-items: center;
    padding: 0 10px;
}

#popup_filtrar{
    width: 30%;
}

.popup .areas{
    display: flex;
    flex-direction: column;
    align-items:normal;
}

.status div{
    display: flex;
    flex-direction: row;
}

#table_list{
    overflow-y: auto;
    height: 85%;

}

.popup .dados_pessoais{
    display: grid;
    grid-template-areas: 
    "tipo requisitante";
    grid-template-columns: 1fr 2fr;
    column-gap: 15px;
}

.popup .div_tipo{
    display: flex;
    flex-direction: column;
    grid-area: tipo;
}

.popup .div_requisitante{
    display: flex;
    flex-direction: column;
    grid-area: requisitante;
}




