:root {
    --green: #5BB800;
    --white: #ffffff;
    --black: #000000;
    --light-black: rgb(0 0 0 / .5);
    --light-grey: #F8F9FA;
    --grey: #E0E1E2;
    --dark-grey: #A0AEC0;
    --font-size-button: 16px;
    --red: #B83700;
}

.snackbar {
    visibility: hidden;
    min-width: 30%;    
    color: #fff;    
    text-align: center;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 16px;
    left: 35%;
}


.snackbar.show {
    visibility: visible;

    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

#snackbar_success {
    background-color: var(--green);
}

#snackbar_error {
    background-color: var(--red);
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@media only screen and (max-device-width: 480px) {
    .snackbar {
        width: 91.5%;
        left: 0;
    }
}
