@charset "UTF-8";
/* Fontes Padrão */
@import url('https://fonts.googleapis.com/css?family=Roboto:700, 600, 500, 400, 200');


/* VARIÁVEIS GERAIS */
/* Cores e Fontes */
:root {
    --green: #5BB800;
    --white: #ffffff;
    --black: #000000;
    --light-black: rgb(0 0 0 / .5);
    --light-grey: #F8F9FA;
    --grey: #E0E1E2;
    --dark-grey: #A0AEC0;
    --red: #B83700;
    --font-size-button: 16px;
    --font-family: 'Roboto', sans-serif;
}


/* PADRÃO GERAL */
/* Margem */
*{
    margin: 0;
}

.div_table_faturas {
    display: flex;
    color: var(--green);
    font-weight: bold;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.div_table_faturas_group_buttons{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.div_table_faturas_button{
    display: flex;
    padding: 0px;
    border-radius: 10px;
    border: none;
}

.div_table_faturas_button:hover {
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.6);
}

.table_locatario{
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 20%;
}

.table_vencimento{
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 20%;
}

.table_valor{
    min-width: fit-content;
    /* border: 1px solid black; */
    width: 20%;
}

.table_status{
    min-width: fit-content;
    /*border: 1px solid black;*/
    width: 20%;
}

/* DESTAQUE STATUS  (FALTA O JAVA SCRIPT) */
.status_aberto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: fit-content;
    width: 70%;
    background-color: var(--green);
    color: var(--white);
    font-weight: 600;
    height: 35px;
    border-radius: 10px;
    align-items: center;
    padding: 0px 10px;

}

.status_quitado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: fit-content;
    width: 70%;
    background-color: var(--dark-grey);
    color: var(--white);
    font-weight: 600;
    height: 35px;
    border-radius: 10px;
    align-items: center;
    padding: 0px 10px;
    
}

.status_vencido{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: fit-content;
    width: 70%;
    background-color: var(--red);
    color: var(--white);
    font-weight: 600;
    height: 35px;
    border-radius: 10px;
    align-items: center;
    padding: 0px 10px;
    
}

.popup div{
    display: flex;
    flex-direction: column;
    align-items:normal;
}

.popup .div_nome{
    display: flex;
    flex-direction: column;
    grid-area: nome;
}

/* POPUP FILTRAR*/
#popup_filtrar{
    width: 20%;
}

/* POPUP DADOS/ALTERAR FATURA */
#popup_dados_fatura{
    width: 30%;
}

/* Seção Status */
.status div{
    display: flex;
    flex-direction: row;
}

.section_status {
    display: grid;
    grid-template-columns: 
    "id vencimento";   
}

.popup .div_identificacao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    grid-template-areas: 
    "id vencimento"
    "nome nome";
}

.popup #div_id{
    grid-area: id;
}

.popup #div_vencimento {
    grid-area: vencimento;
}

.popup #div_nome {
    grid-area: nome;
}

.popup #section_imovel_contrato {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    grid-template-areas: 
    "imov imov imov contr";
}

.popup #div_imov{
    grid-area: imov;
}

.popup #div_contr{
    grid-area: contr;
}

.popup .section_dados_fatura {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    grid-template-areas: 
    "nome nome nome id";
}

.popup .div_end_imovel{
    grid-area: nome;
}

.popup .div_id_imovel{
    grid-area: id;
}

.popup #section_datas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    grid-template-areas: 
    "inicio fim"
    "vencimento pagamento";
}

.popup .div_inicio{
    grid-area: inicio;
}

.popup .div_fim{
    grid-area: fim;
}

.popup .div_vencimento{
    grid-area: vencimento;
}

.popup .div_pagamento{
    grid-area: pagamento;
}

/* RESPONSIVIDADE MOBILE */
@media only screen and (max-device-width: 480px) {
    .table_locatario {
        min-width: fit-content;
        /* border: 1px solid black; */
        width: 50%;
    }

    .table_vencimento {
        display: none;
    
    }
    .table_valor {
        display: none;

    }
    .table_status {
        min-width: fit-content;
        /* border: 1px solid black; */
        width: 30%;

    }
    .status_aberto, .status_quitado, .status_vencido {
        width: 100%;
    }

    .popup .div_identificacao, .popup .section_imovel_contrato, .popup .section_dados_fatura,  .popup #section_datas {
        display: flex;
        flex-direction: column;
    }

    #popup_filtrar, #popup_dados_fatura {
        width: 80%;
    }
}

