@import url('https://fonts.googleapis.com/css?family=Roboto:700, 600, 500, 400, 200');

body {
    margin: 1%;
}


* {
    font-family: "Roboto";
    color: #5BB800;
    
}


h1 {
    display: block;
    margin: 5% 20% 0%;
    color: #5BB800;
    padding-left: 13%;

}

.titulos {
    font-size: small;
}

.alinhamento {
    display: block;
    margin-bottom: 20px;
    align-items: center;
    column-gap: 10px;
    width: 100%;

}


.alinhamento-a {
    display: flex;
    column-gap: 10%;
    margin-bottom: 15px;

}

.alinhamento-a > label > input{
    margin-top: 8px;
}




.alinhamento-a>h4 {
    margin-bottom: 0px;
}


.alinhamento-b {
    display: flex;
    column-gap: 41%;
    margin-bottom: 0px;
    margin-top: 0px;
}

label {
    gap: 0px;
}

.longo {
    width: 90%;
}

.acima {
    display: flex;
    width: 100%;
    column-gap: 40%;
}

.alinhamento {

    margin-bottom: 20px;
    align-items: center;
    column-gap: 0px;
    flex-wrap: wrap;
    width: 100%;

}

input {

    height: 30px;
    border-radius: 7px;
    border: solid;
}

.centro {
    display: flex;
    align-items: center;
}

.longo {
    width: 90%;
}

.alinhamento-a {
    display: flex;
    margin-bottom: 10px;

}

label {
    width: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

.acima {
    display: flex;
    width: 100%;
    column-gap: 40%;
}

.descer {
    display: inline-block;
    vertical-align: middle;
}

hr {
    background-color: #5BB800;
    height: 1px;
    margin: 1px;
}


.botoes {
    display: flex;
    left: 30%;
    margin-left: 25%;
    margin-right: 25%;
    gap: 50px;
    


    button {
        column-gap: 30px;
        border-radius: 7px;
        width: 150px;
        display: flex;
        background-color: #5bb800;
        border: none;
        color: white;
        padding-bottom: 10px;
        display: inline-block;
        text-align: center;
        font-size: 14px;
        height: 35px;
        align-items: center;

    }

    .flutuar {
        float: right;
    }

    button:hover {
        background: #69D303;
        /* Green */
        color: white;
    }

    button:active {
        background-color: #69D303;
        box-shadow: 0 3px gainsboro;
        transform: translateY(4px);
    }



    img {
        margin-top: 5px;
        height: 25px;
    }
}



.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
    margin-top: 0px
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;

}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #5bb800;
}

input:focus+.slider {
    box-shadow: 0 0 1px #5bb800;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(30px);
    transform: translateX(35px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
    margin-top: 0px;
}