*{
    margin: 0; padding: 0px; box-sizing:border-box;
}
:root {
    --green: #5BB800;
    --white: #ffffff;
    --black: #000000;
    --light-black: rgb(0 0 0 / .5);
    --light-grey: #F8F9FA;
    --grey: #E0E1E2;
    --dark-grey: #A0AEC0;
    --font-size-button: 16px;
}

body {
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
     width: 100%;
     height: 100%; 
}

.immo {
    align-items: center;
    color: var(--black);
    font-weight: normal;
    font-size: 40px;
}

.control {    
    color: var(--green);
    font-weight:600;
    font-size: 40px;
}

.login{
    background-color: var(--light-grey);
    max-width: 500px;
    width: 60%;

    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-grey);
    box-shadow: 0px 7px 7px 0px var(--grey);          
}

.login input{    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    border: 2px solid var(--green);
    border-radius: 12px;
    margin: 4px auto; 
    align-items: center;
}

.bem_vindo h1{

    font-size: large;   
}

.bem_vindo p{
    
    font-size: medium;
    font-weight: bold;
}
/* .login p{
    background-color: blue;
} */

.input_email label{
      margin: 5px;
      font-size: small;
      font-weight: bold;
}

.input_senha label{
    margin: 5px;
    font-size:small;
    font-weight: bold;
}


.logar{
    background-color: var(--green);
    border: 0;
    width: 100%;
    height: 40px;
    /* padding: 10px; */
    align-items: center;
    border-radius: 12px;
    color: var(--white);
    font-weight: bold;
    margin: 0px 0px 40px;
}
 
.logar:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: var(--black);
    background-color: var(--grey);
}

.div_logo {
    display: flex;
    min-width: fit-content;
    max-width: fit-content;
    flex-direction: column;
    align-items: center;
    width: 100%;   
    height: 50px;
    margin: 40px 0px 30px;    
}

.bem_vindo{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 65%;
    color: var(--green)
}

/* .bem_vindo{
   
    display: flex;
    flex-direction: column;
    align-items:start;
    width: 60%;
    color: var(--green);
    font-size: 10px;
    font-weight: bold;
    gap:15px;
} */

.popup{
    width: 30%;
    height: 300px;
    min-width: 300px;   
    justify-self: center;
    align-self: center;
    background-color: var(--light-grey);
    color: var(--green);
    border: none;
    border-radius: 10px;
    padding: 15px; 
}

.popup::backdrop{
    background-color: var(--light-black);
}

.primeiro_popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    justify-content: center;
    gap: 15px;
}

/* MEXER!!! */
.msg{
     width: 100%;
     padding: 40px;
     font-weight: bold;
     font-size: large;
     background-color: #000000;
     text-align: center;   
         
 }

 /* MEXER!! */
 .primeiro_popup button{
    width: 50%;
    text-align: center;
    border:none;
    color: var(--green);
    background-color: #000000;
    padding: 10px;
 }

 .btn_enviar_senha:hover{
    color: var(--black) ;
 }

 .btn_esqueci_senha{
    font-size:small;
    font-weight: bold;
    width: 45%;
    height: 20px;
    border:none;
    color: var(--green);
    margin: 0px 0px -10px 5px;
    background-color: var(--light-grey);
           
    }

.btn_esqueci_senha:hover{
    color: var(--black);
}

.enviar_senha{
    width: 800px;  
    height: 300px;
    justify-self: center;
    align-self: center;
    background-color: var(--light-grey);
    color: var(--green);
    border: none;
    border-radius: 10px;
    padding: 15px; 
}







.conteudo{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: var(--white);
    width: 60%;
    height: 200px;
    min-width: 300px;
    padding: 40px;
    border: 2px solid var(--green)

}


/* .volta{
    
    background-color: var(--green);
    border: 0;
    width: 50%;
    height: 45px;
    padding: 10px;    
    border-radius: 12px;
    color: var(--white);
    font-weight: bold;
   
    
} */
