*{
    margin: 0; padding: 0px; box-sizing:border-box;
}
:root {
    --green: #5BB800;
    --white: #ffffff;
    --black: #000000;
    --light-black: rgb(0 0 0 / .5);
    --light-grey: #F8F9FA;
    --grey: #E0E1E2;
    --dark-grey: #A0AEC0;
    --font-size-button: 16px;
}

body {
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
     width: 100%;
     height: 100%; 
}

.immo {
   background-color: #5BB800;
    align-items: center;
    color: var(--black);
    font-weight: normal;
    font-size: 40px;

}

.control {
    
    background-color: #000000;
    color: var(--green);
    font-weight:600;
    font-size: 40px;
}

.login{
    background-color: var(--light-grey);
    max-width: 500px;
    width: 70%;
    padding: 40px;
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-grey);
    
    border-radius: 20px;
    padding: 120px;
    box-shadow: 0px 5px 5px 0px var(--grey);     */
         
}

.login h1{
    justify-content: start;

}

.login input{
    width: 100%;
    height: 45px;
    border: 2px solid var(--green);
    border-radius: 12px;
    padding-left: 10px;
    margin: 10px 0;
}

.logar{
    background-color: var(--green);
    border: 0;
    width: 100%;
    height: 45px;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    color: var(--white);
    font-weight: bold;
}
 
.logar:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    color: var(--black);
    background-color: var(--grey);
}

.div_logo {
    display: flex;
    min-width: fit-content;
    max-width: fit-content;
    flex-direction: column;
    margin-top: 0;
    background-color: yellow; 
    width: 100%;   
    height: 80px;
    padding: 0px 50px;

   
    
}

.bem_vindo{
    display: flex;
    flex-direction: column;
    align-items:start;
    background-color: #000000;
    width: 100%;
    color: var(--green);
    font-size: 10px;
    font-weight: bold;
       
}

.popup_esqueceu_senha{
    width: 30%;
    height: 300px;
    min-width: 300px;   
    justify-self: center;
    align-self: center;
    background-color: var(--light-grey);
    color: var(--green);
    border: none;
    border-radius: 10px;
    padding: 15px; 
}

.primeiro_popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    justify-content: center;
    gap: 15px;
}

/* MEXER!!! */
.msg{
     width: 100%;
     padding: 40px;
     font-weight: bold;
     font-size: large;
     background-color: #000000;
     text-align: center;   
         
 }

 /* MEXER!! */
 .primeiro_popup button{
    width: 50%;
    text-align: center;
    border:none;
    color: var(--green);
    background-color: #000000;
    padding: 10px;
 }

 .btn_enviar_senha:hover{
    color: var(--black) ;
 }

 .btn_esqueci_senha{
    width: 40%;
    height: 30px;
    border:none;
    color: var(--green);
        
    }

.btn_esqueci_senha:hover{
    color: var(--black);
}

.enviar_senha{
    width: 800px;  
    height: 300px;
    justify-self: center;
    align-self: center;
    background-color: var(--light-grey);
    color: var(--green);
    border: none;
    border-radius: 10px;
    padding: 15px; 
}



.popup_esqueceu_senha::backdrop{
    background-color: var(--light-black);
}



.conteudo{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: var(--white);
    width: 60%;
    height: 200px;
    min-width: 300px;
    padding: 40px;
    border: 2px solid var(--green)

}


/* .volta{
    
    background-color: var(--green);
    border: 0;
    width: 50%;
    height: 45px;
    padding: 10px;    
    border-radius: 12px;
    color: var(--white);
    font-weight: bold;
   
    
} */
